<div class="row ml-3">
  <label>Le texte du QR code</label>
  <div class="col-md-4 mt-2">
    <textarea type="text" class="form-control" [(ngModel)]="Qrcodetext" name="qrcodetext"></textarea>
  </div>
  <div class="col-md-3">
    <qrcode
      [qrdata]="Qrcodetext"
      (qrCodeURL)="onChangeURL($event)"
      [width]="200"
      [errorCorrectionLevel]="'M'"
      [colorLight]="'red'"
      [colorDark]="'blue'">
    </qrcode>
    <a [href]="url" download="qrcode">Download</a>
  </div>
</div>
<div>
  <h1>Mon Application</h1>
  <app-confmot></app-confmot>
</div>
